.join-us-section{
    display:flex;
    justify-content: center;
    background-color:#B2D235;
    padding:18px 0;
}

.join-us-box{
    display:flex;
    flex-direction:row;
    width:clamp(640px,90vw, 880px);
    justify-content:space-around
}

.content-left{
    display:flex;
}

.content-left p{
    font-weight:600;
    font-size:22px;
    color: #FFFFFF;
    margin-right: 8px;
}

.join-us-button{
    border-radius:28px;
    font-size:12px;
    padding: 12px 38px;
    border:none;
}

@media(max-width:764px){
    .join-us-box{
        flex-direction:column;
        align-items: center;
    }
    .content-left p{
        font-size:16px;
    }
}