* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: var(--gray-primary);
    background-color: var(--white-primary);
}

.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background: var(--black-primary);
    padding: 10px 32px;
}

.page-container {
    max-width: 1440px;
    margin: 0 auto;
}

.styled-h2 {
    font-size: clamp(28px, 3vw, 50px);
    font-weight: 600;
    letter-spacing: 0px;
    text-wrap: wrap;
    line-height: 100%;
}

.styled-h3 {
    font-size: clamp(22px, 2.5vw, 32px);
    letter-spacing: 0px;
    font-weight: 600;
    letter-spacing: 0px;
}

.styled-h4 {
    font-weight: 600;
    font-size: clamp(12px, 2vw, 18px);
    letter-spacing: 0px;
}

.section {
    padding: 32px;
}

.section-container {
    display: flex;
    justify-content: space-between;
}

.styled-paragraph {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 100%;
    text-wrap: wrap;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 35px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    background-color: #FFFFFF;
}

.styled-searchbar {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-overflow: ellipsis;
}

.styled-searchbar::placeholder {
    font-size: 16px;
}

.styled-searchbar:focus {
    outline: none;
}

.search-icon {
    width: clamp(41px, 4vw, 56px);
    height: auto;
}

.search-button {
    background: none;
    border: none;
    width: clamp(41px, 4vw, 56px);
    height: clamp(41px, 4vw, 56px);
}

.background-green {
    background-color: var(--green-primary);
}

.background-orange {
    background-color: var(--orange-primary);
}

@media (max-width:768px) {
    .styled-h4 {
        font-size: clamp(12px, 3vw, 18px);
    }

    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .search-icon {
        height: 41px;
        width: 41px;
    }

    .searchbar-container {
        padding: 3px 6px;
    }

    .styled-searchbar::placeholder {
        font-size: 12px;
    }
}

@media (max-width:425px) {
    .styled-h4 {
        font-size: 18px;
    }
}